section {
    display: flex;
}
article {
    flex: 3;
}
aside {
    flex: 1;
}
footer {
    margin-top: 100px;
}
article, aside {
    height: calc(100vh-200px);
}
header div {
    display: inline-block;
    size: 30%;
}
header {
    margin: 50px 0px 0px;
    }
header h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 56px;
    color: #080808;
    padding-top: 20px;
}
nav {
    margin: 50px 0 50px;
}
nav ul {
    margin-top: 20px;
    position: center;
}
nav ul li {
    display: inline-block;
    padding: 10px 50px 5px 50px;
    margin: 0px 20px;
    border-top:dimgray solid 2px;
    border-bottom:dimgray solid 2px;
}
nav li a {
    color: #696969;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 4px;
}
nav li:hover {
    background-color: rgb(255, 228, 225);
}
nav a:hover {
    color: rgb(219, 112, 147);
}
article h2 {
    font-size: 25px;
}
#picture {
    display: inline-block;
    margin-top: 10px;
    margin-left: 100px;
}
#picture img {
    border: black dashed 2px;
    margin: 5px;
    width: 250px;
    position: center;
}
aside div {
    background-color: rgba(255, 192, 203, 0.4);
    border: black solid 2px;
    padding: 10px 5px 5px 15px;
    margin: 10px 10px 0px 10px;
}
aside h3 {
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}
aside ul li {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
}
aside ul {
    padding: 0px 10px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}
#forgot {
    border-left: black solid 1.5px;
    padding-left: 10px;
}
#id1 {
    margin-bottom: 5px;
}
#l {
    margin-top: 10px;
    padding: 1px 10px;
}
#p {
    margin-top: 5px;
    padding: 1px 10px;
}
footer h5 {
    font-size: 15px;
}
footer p {
    margin: 0px 20px 0px 100px; font-size: 12px; text-align: right;
}